body{
    background-color: #1a1a1b;
    color: #94f3e4;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    height: 450px;
    width: 400px;
    border-radius: 10px 10px 40px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333f44;
    box-shadow: 0px 0px 20px 5px #37aa9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    width: 200px;
    height: 40px;
    background-color: #1a1a1b;
    color: #37aa9c;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
}
button:hover{
    cursor: pointer;
    background-color: #37aa9c;
    color: #333f44;
    transform: scale(1.1);
}
input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
}
p{
    font-size: 1.2rem;
}

#tag{
    margin: 0px 200px 0px 0px;

}